/**
 * Keep the LicenseSender admin menu icon aligned in all states.
 * Top-level menu slug is ls-dashboard (#toplevel_page_ls-dashboard).
 */
#adminmenu #toplevel_page_ls-dashboard div.wp-menu-image {
	display: flex !important;
	align-items: center;
	justify-content: center;
	float: left;
	width: 36px;
	height: 34px;
	text-align: center;
}

#adminmenu #toplevel_page_ls-dashboard div.wp-menu-image img {
	display: block;
	float: none !important;
	width: 20px !important;
	height: 20px !important;
	max-width: 20px;
	max-height: 20px;
	padding: 0 !important;
	margin: 0 auto !important;
	object-fit: contain;
	opacity: 0.6;
	box-sizing: border-box;
}

#adminmenu #toplevel_page_ls-dashboard:hover div.wp-menu-image img,
#adminmenu #toplevel_page_ls-dashboard.wp-has-current-submenu div.wp-menu-image img,
#adminmenu #toplevel_page_ls-dashboard.current div.wp-menu-image img,
#adminmenu #toplevel_page_ls-dashboard.opensub div.wp-menu-image img,
#adminmenu #toplevel_page_ls-dashboard a:focus div.wp-menu-image img {
	opacity: 1;
	padding: 0 !important;
	margin: 0 auto !important;
}

.folded #adminmenu #toplevel_page_ls-dashboard div.wp-menu-image {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 30px;
}

.folded #adminmenu #toplevel_page_ls-dashboard div.wp-menu-image img {
	padding: 0 !important;
	margin: 0 auto !important;
}
